.filter-form
    font-size: 0.8rem

.filter-form hr
    margin: .125rem 0 .125rem 0

.close-button
    float: right
    transition: 0.1s

.close-button:hover
    cursor: pointer
    background-color: #c33
    float: right

.filter-buttons
    width: 23rem
    height: 3.1rem
    overflow-y: auto
    scroll-behavior: smooth

.fields-table td
    padding: .25rem

.removeItem
    display: inline-block
    background-color: #aaa
    padding: .1rem 0.25rem 0.1rem 0.25rem
    margin-left: .1rem
    border-radius: .25rem
    transition: 0.1s

.removeItem:hover
    cursor: pointer
    background-color: #c33
    color: white