.button-popups
  color: #eee
  background-color: #343434

.setup
  min-width: 27rem

.passwords
  max-height: 13.5rem
  overflow: auto
  scroll-behavior: smooth

.password-line:hover
  background-color: #3e3e3e
  cursor: pointer

.password
  width: 65%
  max-width: 30rem