<div ngbDropdown #passwordsDropdown="ngbDropdown" (openChange)="handleOpen($event)">
    <button class="btn btn-secondary btn-sm action-button" type="button" ngbDropdownToggle
        [title]="'shared.password.enterpassword' | translate">
        {{ 'shared.password.passwords' | translate }}
    </button>
    <div ngbDropdownMenu class="p-3 button-popups">
        <div class="d-flex setup">
            <div><img class="me-1 align-text-top" src="assets/images/general/post-it.png"></div>
            <div>{{ gamePasswordsInfo.setup }}</div>
        </div>
        <div *ngIf="gamePasswordsInfo.passwords.length > 0" class="button-popups passwords mt-3">
            <div class="d-flex password-line p-1" *ngFor="let gamePassword of gamePasswordsInfo.passwords"
                (click)="selectedPassword = gamePassword"
                [ngStyle]="{'background-color': selectedPassword === gamePassword ? '#555' : null}">
                <div class="d-inline-block password">{{ gamePassword.password }}</div>
                <div class="d-inline-block">
                    <span class="badge bg-success">{{ gamePassword.description }}</span>
                </div>
            </div>
        </div>
        <button *ngIf="!gamePasswordsInfo.noTyping" class="btn btn-primary btn-sm mt-3" (click)="enter()" (keyup.enter)="enter()"
            [disabled]="selectedPassword === null">{{ 'shared.password.enter' | translate }}</button>
    </div>
</div>