<form>
    <div class="d-inline-block me-3">{{ 'popups.setInfoFile.infoFile' | translate }}</div>
    <div class="d-inline-block">
        <div class="input-group info-file">
            <input type="text" class="form-control form-control-sm" id="infoFile" [(ngModel)]="infoFile"
                [ngModelOptions]="{standalone: true}">
            <app-file-system-chooser [label]="'common.browse' | translate" (chosen)="infoFile = $event">
            </app-file-system-chooser>
        </div>
    </div>

    <div>
        <button class="btn btn-primary btn-sm mt-3" (click)="save()" (keyup.enter)="save()">{{ 'common.save' | translate
            }}</button>
    </div>
</form>