<form spellcheck="false">
    <div class="d-flex align-items-center">
        <div class="pe-2">{{ 'popups.setinfofile.infofile' | translate }}</div>
        <input type="text" class="form-control form-control-sm info-file" id="infoFile" [(ngModel)]="infoFile"
            [ngModelOptions]="{standalone: true}" dropfile (droppedFile)="infoFile = $event">
        <app-file-system-chooser [label]="'common.browse' | translate" (chosen)="infoFile = $event" [useIcon]="true">
        </app-file-system-chooser>
    </div>
    <div>
        <button class="btn btn-primary btn-sm mt-3" (click)="save()" (keyup.enter)="save()">{{ 'common.save' | translate
            }}</button>
    </div>
</form>