<div class="mb-3">
    {{ gamePasswordsInfo.setup }}
</div>
<div class="passwords">
    <table class="table table-sm">
        <tr *ngFor="let gamePassword of gamePasswordsInfo.passwords" (click)="selectedPassword = gamePassword"
            class="p-4" [ngStyle]="{'background-color': selectedPassword === gamePassword ? '#555' : null}">
            <td class="text-white">
                {{ gamePassword.password }}
            </td>
            <td>
                <span class="badge bg-success">{{ gamePassword.description }}</span>
            </td>
        </tr>
    </table>
</div>
<button class="btn btn-primary btn-sm mt-3" (click)="enter()" (keyup.enter)="enter()"
    [disabled]="selectedPassword == null">{{ 'dashboard.enter' | translate }}</button>