<div class="card text-white widget widget-wide mb-3">
    <div class="card-body container">
        <h5 class="card-title">{{ 'dashboard.insights' | translate }}</h5>
        <div *ngIf="isTopTenMode()">
            <span class="badge bg-primary bg-size">{{ 'dashboard.toptenlaunched' | translate }}</span>
            <a class="badge bg-dark bg-size bg-link" (click)="setLaunchTimesMode()">{{ 'dashboard.launchtotals' |
                translate }}</a>
            <app-dashboard-top-ten></app-dashboard-top-ten>
        </div>
        <div *ngIf="isLaunchTimesMode()">
            <a class="badge bg-dark bg-size bg-link" (click)="setTopTenMode()">{{ 'dashboard.toptenlaunched' | translate
                }}</a>
            <span class="badge bg-primary bg-size">{{ 'dashboard.launchtotals' | translate }}</span>
            <app-dashboard-launch-count></app-dashboard-launch-count>
        </div>
    </div>
</div>