.container
  position: relative

.col-game-name
  width: 62%
  max-width: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.col-game-listing
  width: 30%
  max-width: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.bg-size
  font-size: 85% !important
  margin-right: .5rem
  margin-bottom: .6rem

.bg-link
  background: #515151 !important
  text-decoration: none

.bg-link:hover
  color: white
  cursor: pointer
  background: #007bff !important
  transition: 0.15s
  text-decoration: none

.pagination-part
  padding-left: .325rem
  position: absolute
  bottom: .5rem