#settings
  width: 44.5rem
  margin-bottom: 1rem

.header
  font-weight: bold
  color: #cef
  margin-top: 3rem

hr
  margin-top: .125rem

.section
  border-bottom: 1em solid transparent

.form-check-input:focus
  outline: none
  box-shadow: none