.related-games
  max-height: 36rem
  max-width: 54rem
  overflow: auto
  scroll-behavior: smooth
  white-space: nowrap

.game-name
  font-size: 1rem
  font-weight: bold

.game-data
  font-size: .8rem

.screenshots
  width: 204px
  margin-left: .5rem

.no-results
  margin: 4rem 6rem 4rem 6rem
  font-size: 1rem
  text-align: center
  color: #ff8888