<div class="related-games" #relatedGamesDiv>
    <div *ngIf="relatedGames.length === 0" class="no-results">{{ 'popups.relatedgames.noresults' | translate }}</div>
    <div *ngFor="let relatedGame of relatedGames; let i = index" class="mt-4">
        <img src="{{ imageData1[i] }}" class="screenshots" draggable="false">
        <img src="{{ imageData2[i] }}" class="screenshots" draggable="false">
        <div class="d-inline-block ms-3 me-3">
            <div class="game-name">{{ relatedGame.name }}</div>
            <div class="game-data">
                {{ relatedGame.company }}
                <span *ngIf="isShowYear(relatedGame)">- {{ relatedGame.year }}</span>
            </div>
            <div class="mt-2">
                <app-web-link *ngIf="isShowGenerationMSXLink(relatedGame)" label="Generation-MSX"
                    [address]="getGenerationMSXAddress(relatedGame)" [buttonLook]="true"
                    [title]="'popups.relatedgames.viewongenerationmsx' | translate">
                </app-web-link>
                <span *ngIf="!isShowGenerationMSXLink(relatedGame)" class="badge bg-light text-dark">
                    {{ 'popups.relatedgames.notingenerationmsx' | translate }}
                </span>
                <span *ngIf="relatedGame.listing" class="badge bg-dark bg-size bg-link"
                    (click)="locateInPlayer(i)" [title]="'popups.relatedgames.locateinnovoplayer' | translate">
                    🚩
                </span>
            </div>
        </div>
    </div>
</div>