<div class="ps-3 pe-3">
    <button type="button" class="btn btn-secondary btn-sm" (click)="togglePause(pid)"
        [title]="pauseIndicator ? unpauseLabel : pauseLabel">
        <span *ngIf="!pauseIndicator" class="bi-pause"></span>
        <span *ngIf="pauseIndicator" class="bi-play-fill"></span>
    </button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="toggleMute(pid)"
        [title]="muteIndicator ? unmuteLabel : muteLabel">
        <span *ngIf="!muteIndicator" class="bi-volume-up"></span>
        <span *ngIf="muteIndicator" class="bi-volume-mute"></span>
    </button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="toggleFullscreen(pid)"
        [title]="fullscreenIndicator ? windowLabel : fullscreenLabel">
        <span *ngIf="!fullscreenIndicator" class="bi-fullscreen"></span>
        <span *ngIf="fullscreenIndicator" class="bi-fullscreen-exit"></span>
    </button>
    <button type="button" class="btn btn-warning btn-sm float-end" (click)="resetMachine(pid)"
        [title]="'common.reset' | translate">
        <span class="bi-arrow-counterclockwise"></span>
    </button>
</div>

<div class="ps-3 pe-3 pt-4 controls">
    <div class="d-inline-block pe-2">{{ 'dashboard.emulationspeed' | translate }}</div>
    <div *ngIf="!speedDisable" class="d-inline-block pe-2 pt-2">
        <input type="range" class="form-range" min="50" max="300" step="50" [(ngModel)]="speed"
            (change)="setSpeed(pid)">
    </div>
    <div class="d-inline-block">{{ speed }}%</div>
    <div *ngIf="speedDisable" class="ps-2 d-inline-block">
        <a class="badge bg-secondary bg-size bg-link" (click)="resetSpeed(pid)">
            <span class="bi-arrow-clockwise" [title] = "'dashboard.restoredefault' | translate"></span>
        </a>
    </div>
</div>

<div class="d-inline-block led-container">
    <div [ngClass]="powerLed ? 'led led-on' : 'led led-off'"></div>
    <div>Power</div>
</div>
<div class="d-inline-block led-container">
    <div [ngClass]="capsLed ? 'led led-on' : 'led led-off'"></div>
    <div>Caps</div>
</div>
<div class="d-inline-block led-container">
    <div [ngClass]="langLed ? 'led led-on' : 'led led-off'"></div>
    <div>Lang</div>
</div>
<div class="d-inline-block led-container">
    <div [ngClass]="turboLed ? 'led led-on' : 'led led-off'"></div>
    <div>Turbo</div>
</div>
<div class="d-inline-block led-container">
    <div [ngClass]="fddLed ? 'led led-on' : 'led led-off'"></div>
    <div>FDD</div>
</div>
<div class="d-inline-block led-container" [ngStyle]="{'visibility': pauseIndicator ? 'visible' : 'hidden'}">
    <div class="d-inline-block pause-bar"></div>
    <div class="d-inline-block pause-bar"></div>
    <div>Paused</div>
</div>
<div class="d-inline-block led-container" [ngStyle]="{'visibility': muteIndicator ? 'visible' : 'hidden'}">
    <img src="assets/images/general/silent.png">
    <div>Muted</div>
</div>