<div class="ps-3 pe-3">
    <button type="button" class="btn btn-secondary btn-sm" (click)="togglePause(pid)"
        [title]="pauseIndicator ? unpauseLabel : pauseLabel">
        <span *ngIf="!pauseIndicator" class="bi-pause"></span>
        <span *ngIf="pauseIndicator" class="bi-play-fill"></span>
    </button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="toggleMute(pid)"
        [title]="muteIndicator ? unmuteLabel : muteLabel">
        <span *ngIf="!muteIndicator" class="bi-volume-up"></span>
        <span *ngIf="muteIndicator" class="bi-volume-mute"></span>
    </button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="toggleFullscreen(pid)"
        [title]="fullscreenIndicator ? windowLabel : fullscreenLabel">
        <span *ngIf="!fullscreenIndicator" class="bi-fullscreen"></span>
        <span *ngIf="fullscreenIndicator" class="bi-fullscreen-exit"></span>
    </button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="takeScreenshot(pid, game)"
        [title]="'dashboard.takeascreenshot' | translate">
        <span class="bi-image"></span>
    </button>
    <div class="d-inline-block">
        <app-openmsx-management-text-typing [pid]="pid" [events]="openEventSubject.asObservable()"
            (alertMessage)="alertMessage($event)"></app-openmsx-management-text-typing>
    </div>
    <button type="button" class="btn btn-warning btn-sm float-end" (click)="resetMachine(pid)"
        [title]="'common.reset' | translate">
        <span class="bi-arrow-counterclockwise"></span>
    </button>
</div>
<div class="d-flex">
    <div class="ps-3 pt-2">
        <app-openmsx-management-screen-number [pid]="pid"
            [events]="openEventSubject.asObservable()"></app-openmsx-management-screen-number>
    </div>
    <div class="ps-2 pt-2">
        <app-openmsx-management-emulation-speed [pid]="pid" [events]="openEventSubject.asObservable()"
            [currentStatus]="currentStatus"></app-openmsx-management-emulation-speed>
    </div>
    <div class="ps-2 pt-2">
        <app-openmsx-management-state-save-load [pid]="pid" [game]="game" (alertMessage)="alertMessage($event)"
            [events]="openEventSubject.asObservable()"></app-openmsx-management-state-save-load>
    </div>
</div>
<div class="d-flex ps-3">
    <div ngbDropdown class="pe-2 pt-2" *ngIf="isMediumCanHaveGroup(game) && fileGroup.length > 1">
        <button *ngIf="isDisk(game)" class="btn btn-secondary btn-sm action-button" type="button"
            [title]="'dashboard.switchdisks' | translate" ngbDropdownToggle>
            {{ 'dashboard.disks' | translate }}
        </button>
        <button *ngIf="isTape(game)" class="btn btn-secondary btn-sm action-button" type="button"
            [title]="'dashboard.switchtapes' | translate" ngbDropdownToggle>
            {{ 'dashboard.tapes' | translate }}
        </button>
        <div ngbDropdownMenu class="pt-0 pb-0">
            <button *ngFor="let medium of fileGroup" ngbDropdownItem type="button"
                (click)="switchMedium(pid, game, medium)">
                <div>{{ getMediumDisplayName(medium) }}</div>
            </button>
        </div>
    </div>
    <div *ngIf="gamePasswordsInfo" class="pe-2 pt-2">
        <app-openmsx-management-passwords [pid]="pid" [events]="openEventSubject.asObservable()"
            [gamePasswordsInfo]="gamePasswordsInfo"
            (alertMessage)="alertMessage($event)"></app-openmsx-management-passwords>
    </div>
</div>
<div class="d-inline-block led-container">
    <div [ngClass]="capsLed ? 'led led-on' : 'led led-off'"></div>
    <div>Caps</div>
</div>
<div class="d-inline-block led-container">
    <div [ngClass]="langLed ? 'led led-on' : 'led led-off'"></div>
    <div>Lang</div>
</div>
<div class="d-inline-block led-container">
    <div [ngClass]="turboLed ? 'led led-on' : 'led led-off'"></div>
    <div>Turbo</div>
</div>
<div class="d-inline-block led-container">
    <div [ngClass]="fddLed ? 'led led-on' : 'led led-off'"></div>
    <div>FDD</div>
</div>
<div class="d-inline-block led-container" [ngStyle]="{'visibility': pauseIndicator ? 'visible' : 'hidden'}">
    <div class="d-inline-block pause-bar"></div>
    <div class="d-inline-block pause-bar"></div>
    <div>Paused</div>
</div>
<div class="d-inline-block led-container" [ngStyle]="{'visibility': muteIndicator ? 'visible' : 'hidden'}">
    <img src="assets/images/general/silent.png">
    <div>Muted</div>
</div>