<div>
    <button class="btn btn-secondary btn-sm" type="button" (click)="goBack()">
        <span class="bi bi-arrow-left-circle"></span>
        {{ 'webmsx.back' | translate }}
    </button>
</div>
<div id="wmsx">
    <div id="name">{{ selectedGame.name }}</div>
    <div id="company-and-year" *ngIf="selectedGame.company">
        {{ selectedGame.company }}
        <span *ngIf="selectedGame.year"> - {{ selectedGame.year }}</span>
    </div>
    <div *ngIf="!error">
        <div id="wmsx-screen"></div>
        <div *ngIf="gamePasswordsInfo" class="pt-2">
            <app-password-selector [gamePasswordsInfo]="gamePasswordsInfo"
                (passwordToEnter)="enterPassword($event)"></app-password-selector>
        </div>
    </div>
    <div id="error-message" *ngIf="error">{{ 'webmsx.errorloading' | translate }}</div>
</div>