<div ngbDropdown class="d-inline-block" #saveDropdown="ngbDropdown">
    <button class="btn btn-primary btn-sm load-button mt-3" type="button" [title]="saveTooltip" ngbDropdownToggle>
        <span class="bi-floppy"></span>
    </button>
    <div ngbDropdownMenu class="p-3">
        <input class="form-control form-control-sm obj-name" (input)="decideIfCanSave()" (keydown.enter)="save()"
            [(ngModel)]="name" spellcheck="false" [placeholder]="'home.name' | translate" />
        <button class="btn btn-primary btn-sm mt-3" (click)="save()" [disabled]="disableSave">
            {{ 'common.save' | translate }}
        </button>
    </div>
</div>
<div ngbDropdown class="d-inline-block" #deleteDropdown="ngbDropdown">
    <button class="btn btn-primary btn-sm load-button mt-3" type="button" [title]="loadTooltip"
        [disabled]="savedList.length === 0" ngbDropdownToggle>
        {{ 'common.load' | translate }}
    </button>
    <div ngbDropdownMenu class="dropdown-scroll">
        <div *ngFor="let savedItem of savedList" class="delete-obj-row">
            <div class="d-inline-block delete-obj-name" (click)="load(savedItem)">
                {{ savedItem.name }}
            </div>
            <div class="d-inline-block delete-obj-icon bi-x text-warning" placement="top"
                [ngbTooltip]="'common.delete' | translate" (click)="delete(savedItem)">
            </div>
        </div>
    </div>
</div>