<div class="card text-white widget widget-wide mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ 'dashboard.runninggames' | translate }}</h5>
        <div *ngIf="launchActivities.length === 0">{{ 'common.none' | translate }}</div>
        <div class="activity-table">
            <table class="table table-sm text-white" *ngIf="launchActivities.length > 0">
                <tbody>
                    <tr *ngFor="let activity of launchActivities">
                        <td *ngIf="isWindows" class="activity-game-source">{{ getLaunchSource(activity.source) }}</td>
                        <td class="activity-game-name" title="{{ activity.game.name }}">{{ activity.game.name }}</td>
                        <td class="activity-game-listing" title="{{ activity.game.listing }}">{{ activity.game.listing
                            }}
                        </td>
                        <td>
                            <app-elapsed-time [startTime]="activity.time"></app-elapsed-time>
                        </td>
                        <td>
                            <div ngbDropdown placement="bottom-end" *ngIf="isRunningOnOpenMSX(activity)">
                                <button type="button" class="btn btn-secondary btn-sm openmsx-connect"
                                    ngbDropdownToggle>
                                    •••
                                </button>
                                <div class="dropdown-menu-end openmsx-connect-dropdown-scroll" ngbDropdownMenu>
                                    <button ngbDropdownItem type="button"
                                        (click)="openManagement(activity.pid, activity.game)">
                                        <div class="d-flex">
                                            <div class="connect-menuitem"></div>
                                            {{ 'dashboard.managesession' | translate }}
                                        </div>
                                    </button>
                                    <button ngbDropdownItem *ngIf="activity.game.listing" type="button"
                                        (click)="saveState(activity.pid, activity.game)">
                                        <div class="d-flex">
                                            <div class="connect-menuitem"></div>
                                            {{ 'dashboard.savestate' | translate }}
                                        </div>
                                    </button>
                                    <button ngbDropdownItem *ngIf="savedStatesMap.get(activity.game.sha1Code)"
                                        type="button" (click)="loadState(activity.pid, activity.game)">
                                        <div class="d-flex">
                                            <div class="connect-menuitem"></div>
                                            {{ 'dashboard.loadstate' | translate }}
                                        </div>
                                    </button>
                                    <button ngbDropdownItem type="button"
                                        (click)="typeText(activity.pid, activity.game)">
                                        <div class="d-flex">
                                            <div class="connect-menuitem bi-keyboard"></div>
                                            {{ 'dashboard.typetext' | translate }}
                                        </div>
                                    </button>
                                    <button ngbDropdownItem *ngIf="gamePasswordsMap.get(activity.game.generationMSXId)"
                                        type="button" (click)="pickPassword(activity.pid, activity.game)">
                                        <div class="d-flex">
                                            <div class="connect-menuitem"></div>
                                            {{ 'dashboard.enterpassword' | translate }}
                                        </div>
                                    </button>
                                    <button ngbDropdownItem *ngIf="gameTrainersSet.has(activity.pid)" type="button"
                                        (click)="showTrainer(activity.pid, activity.game)">
                                        <div class="d-flex">
                                            <div class="connect-menuitem"></div>
                                            {{ 'dashboard.cheats' | translate }}
                                        </div>
                                    </button>
                                    <ng-container
                                        *ngIf="isMediumCanHaveGroup(activity.game) && fileGroupMap.get(activity.pid)?.length > 1">
                                        <h6 *ngIf="isDisk(activity.game)" class="dropdown-header">{{
                                            'dashboard.switchdisks' | translate }}:</h6>
                                        <h6 *ngIf="isTape(activity.game)" class="dropdown-header">{{
                                            'dashboard.switchtapes' | translate }}:</h6>
                                        <button *ngFor="let medium of fileGroupMap.get(activity.pid)" ngbDropdownItem
                                            type="button" (click)="switchMedium(activity.pid, activity.game, medium)">
                                            <div class="switch-menuitem">{{ getMediumDisplayName(medium) }}</div>
                                        </button>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-popup popupId="openmsx-management-id" [titleHeader]="('dashboard.managesession' | translate) + ': ' + selectedGame?.name">
    <ng-template let-popupId="popupId">
        <app-openmsx-management [popupId]="popupId" [pid]="selectedPid" [game]="selectedGame" #openmsxManagementInterface>
        </app-openmsx-management>
    </ng-template>
</app-popup>

<app-popup popupId="saved-states-id" [titleHeader]="('dashboard.loadstate' | translate) + ': ' + selectedGame?.name">
    <ng-template let-popupId="popupId">
        <app-saved-states [popupId]="popupId" [savedStates]="savedStates" [game]="selectedGame" [hideNormalStart]="true"
            (stateChoice)="loadStateOnOpenmsx($event)" (updateStateList)="resetStatesMap()" #savedStatesSelector>
        </app-saved-states>
    </ng-template>
</app-popup>

<app-popup popupId="type-text-id" [titleHeader]="('dashboard.typetext' | translate) + ': ' + selectedGame?.name">
    <ng-template let-popupId="popupId">
        <app-type-text [popupId]="popupId" [pid]="selectedPid" #typeTextInterface>
        </app-type-text>
    </ng-template>
</app-popup>

<app-popup popupId="pick-password-id" [titleHeader]="('dashboard.enterpassword' | translate) + ': ' + selectedGame?.name">
    <ng-template let-popupId="popupId">
        <app-pick-password [popupId]="popupId" [pid]="selectedPid" [gamePasswordsInfo]="gamePasswords" #passwordSelector>
        </app-pick-password>
    </ng-template>
</app-popup>

<app-popup popupId="enable-cheats-id" [titleHeader]="('dashboard.cheats' | translate) + ': ' + selectedGame?.name">
    <ng-template let-popupId="popupId">
        <app-enable-cheats [popupId]="popupId" [pid]="selectedPid" [gameName]="selectedGame?.title"
            #trainerInterface></app-enable-cheats>
    </ng-template>
</app-popup>