<div class="card text-white widget widget-wide mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ 'dashboard.runninggames' | translate }}</h5>
        <div *ngIf="launchActivities.length === 0">{{ 'common.none' | translate }}</div>
        <div class="activity-table">
            <table class="table table-sm text-white" *ngIf="launchActivities.length > 0">
                <tbody>
                    <tr *ngFor="let activity of launchActivities">
                        <td *ngIf="isWindows" class="activity-game-source">{{ getLaunchSource(activity.source) }}</td>
                        <td class="activity-game-name" title="{{ activity.game.name }}">{{ activity.game.name }}</td>
                        <td class="activity-game-listing" title="{{ activity.game.listing }}">{{ activity.game.listing
                            }}
                        </td>
                        <td>
                            <app-elapsed-time [startTime]="activity.time"></app-elapsed-time>
                        </td>
                        <td>
                            <button *ngIf="isRunningOnOpenMSX(activity)" type="button" class="btn btn-secondary btn-sm  openmsx-connect"
                                (click)="openManagement(activity.pid, activity.game)" [title]="'common.managesession' | translate">
                                •••
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-popup popupId="openmsx-management-id" [titleHeader]="('common.managesession' | translate) + ': ' + selectedGame?.name">
    <ng-template let-popupId="popupId">
        <app-openmsx-management [popupId]="popupId" [pid]="selectedPid" [game]="selectedGame" #openmsxManagementInterface>
        </app-openmsx-management>
    </ng-template>
</app-popup>