.container
  max-height: 24.5rem
  overflow-y: scroll

.option
  margin: 2px
  width: 20rem

.option:hover
  background-color: #3333aa
  cursor: pointer

.normal-start-option
  height: 4rem
  font-size: 1rem
  display: flex
  justify-content: center
  align-items: center
  border-color: #3333aa
  border-style: solid

.state-option
  height: 8rem
  display: flex
  align-items: center

.screenshot
  width: 160px
  margin-left: 2px
