<div class="container">
    <div *ngIf="!hideNormalStart" class="normal-start-option" (click)="startNormally()">
        {{ 'popups.savedstates.normallaunch' | translate }}
    </div>
    <div class="state-option-row" *ngFor="let savedState of savedStates">
        <div class="state-option" (click)="selectState(savedState)">
            <img [src]="savedState.screenshot" class="screenshot">
            <div class="ms-2 d-inline-block">{{ getSavedStateTimeAndDate(savedState) }}</div>
        </div>
        <div class="d-inline-block bi-x text-warning delete" (click)="deleteState(savedState)" placement="top"
            [ngbTooltip]="'common.delete' | translate" container="body"></div>
    </div>
</div>