<div class="entire-area">
  <div class="area-on-the-left">
    <div class="table-buttons">
      <div ngbDropdown class="d-inline-block me-1" (openChange)="handleOpenMenuEvents($event)">
        <button class="btn btn-secondary btn-sm" type="button" ngbDropdownToggle></button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem type="button" (click)="undo()" [disabled]="!showUndo">
            <div class="d-flex">
              <div class="me-4">{{ 'home.undo' | translate }}</div>
              <div class="text-white-50 ms-auto d-flex align-items-end shortcut">{{ ctrlCmdKey }}Z
              </div>
            </div>
          </button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem type="button" (click)="manageListings.open()" [disabled]="!listings.length">
            {{ 'home.managelistings' | translate }}
          </button>
          <button ngbDropdownItem type="button" (click)="manageBackups.open()">
            {{ 'home.managebackups' | translate }}
          </button>
        </div>
      </div>
      <div *ngIf="listings.length" ngbDropdown class="d-inline-block" (openChange)="handleOpenMenuEvents($event)">
        <button class="btn btn-secondary btn-sm" type="button" ngbDropdownToggle>
          {{ selectedListing }}
          <span class="badge bg-light text-dark">
            {{ games.length }}
            <span *ngIf="originalGames.length > games.length"> / {{ originalGames.length }}</span>
          </span>
        </button>
        <div ngbDropdownMenu>
          <button *ngFor="let listing of listings" ngbDropdownItem type="button" (click)="setSelectedListing(listing)">
            {{ listing }}
          </button>
        </div>
      </div>
      <div class="d-inline-block ms-2" *ngIf="scanRunning">
        <img src="assets/images/general/loading.gif">
        {{ 'home.scanning' | translate }}
        <span *ngIf="scanProgress">{{ scanProgress }}%</span>
      </div>
      <div class="d-inline-block ms-2" *ngIf="otherSelectedGames.size">
        <img src="assets/images/general/select.png">{{ otherSelectedGames.size + 1 }}
      </div>
      <div class="action-buttons">
        <div class="d-inline-block">
          <button
            [ngClass]="{'btn': true, 'btn-secondary': true, 'btn-sm': true, 'action-button': filtersTotal === 0, 'action-button-filters': filtersTotal > 0}"
            type="button" (click)="toggleFiltersForm()" [title]="'home.filters' | translate">
            <span class="bi-funnel"></span>
            <span *ngIf="filtersTotal > 0" class="badge bg-primary">{{ filtersTotal }}</span>
          </button>
        </div>
        <div ngbDropdown class="d-inline-block ps-1" (openChange)="handleOpenNews($event)">
          <button class="btn btn-secondary btn-sm position-relative action-button" type="button" ngbDropdownToggle
            [title]="'home.news' | translate" [disabled]="!isMSXNewsEnabled">
            <span class="bi-newspaper"></span>
            <span *ngIf="newsUpdated && isMSXNewsEnabled"
              class="position-absolute news-alert-shift p-1 bg-danger border border-light rounded-circle">
            </span>
          </button>
          <div ngbDropdownMenu>
            <div *ngIf="news.length === 0" class="news-retrieving">{{ 'home.waitingfornews' | translate }}</div>
            <div *ngFor="let newsitem of news" class="news-row">
              <div class="d-inline-block news-date">{{ newsitem.pubDate | newsDate }}</div>
              <div class="d-inline-block me-2 news-title">
                <app-web-link [address]="newsitem.link" [label]="newsitem.title"></app-web-link>
              </div>
              <app-web-link [address]="newsitem.feedSiteUrl" [label]="newsitem.feedSiteName" [buttonLook]="true"></app-web-link>
            </div>
          </div>
        </div>
        <div class="d-inline-block ps-1">
          <button class="btn btn-secondary btn-sm action-button" type="button" (click)="quickLaunch.open()"
            [disabled]="!isOpenMSXPathDefined || machines.length === 0" [title]="'home.quicklaunch' | translate">
            ▶
          </button>
        </div>
        <div class="d-inline-block ps-1">
          <button class="btn btn-secondary btn-sm action-button" type="button" (click)="scanParameters.open()"
            [disabled]="!isOpenMSXPathDefined || machines.length === 0 || scanRunning" [title]="'home.addgames' | translate">
            <span class="bi-plus-lg"></span>
          </button>
        </div>
        <div ngbDropdown class="d-inline-block ps-1" (openChange)="handleOpenMenuEvents($event)">
          <button class="btn btn-secondary btn-sm action-button" type="button" ngbDropdownToggle
            [title]="'home.favorites' | translate" #favoritesDropdownButton>
            <span class="bi-star-fill"></span>
          </button>
          <div ngbDropdownMenu>
            <button *ngFor="let favorite of favorites" ngbDropdownItem type="button" (click)="showFoundGame(favorite)">
              <div class="favorite-name">
                {{ favorite.name }}
              </div>
              <div class="favorite-listing ps-2">
                - {{ favorite.listing }}
              </div>
            </button>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block ps-1"
          (openChange)="handleOpenSearch($event)" #searchDropdown="ngbDropdown">
          <button class="btn btn-secondary btn-sm action-button" type="button" ngbDropdownToggle
            [title]="'home.search' | translate">
            <span class="bi-search"></span>
          </button>
          <div ngbDropdownMenu>
            <app-home-game-search (selectedGame)="showFoundGame($event)" [parentMenuOpen]="searchMenuOpen">
            </app-home-game-search>
          </div>
        </div>
      </div>
    </div>
    <div id="games-table">
      <table *ngIf="games">
        <tr class="table-header">
          <th class="name-title" (click)="setSort('name')">
            {{ 'home.name' | translate }} <span>{{ 'name' | sortStatus : sortData : games }}</span>
          </th>
          <th class="company-title" (click)="setSort('company')">
            {{ 'home.company' | translate }} <span>{{ 'company' | sortStatus : sortData : games }}</span>
          </th>
          <th class="year-title" (click)="setSort('year')">
            {{ 'home.year' | translate }} <span>{{ 'year' | sortStatus : sortData : games }}</span>
          </th>
        </tr>
      </table>
      <div id="games-table-data" tabindex="-1" (keydown)="processKeyEventsOnTable($event)" #gamesTableData>
        <table>
          <tr *ngFor="let game of games" (click)="processClickOnGame($event, game)" id="{{ game.sha1Code }}"
            (contextmenu)="onContextMenu($event, game)">
            <td class="medium-img"><img src="{{ game | gameMediumIcon }}" draggable="false"></td>
            <ng-container *ngIf="(game | editRowMode : gameToRename); else editRow">
              <td class="name">
                <input id="gameNameEditInput" #gameNameEditInput type="text" spellcheck="false"
                  [(ngModel)]="editedGameName" (keyup.enter)="processNewGameName($event)"
                  (keyup.escape)="cancelEditMode()" (focusout)="cancelEditMode()" />
              </td>
            </ng-container>
            <ng-template #editRow>
              <td class="name">{{ game.name }}</td>
            </ng-template>
            <td class="company">{{ game.company }}</td>
            <td class="year">{{ game.year }}</td>
            <td class="cell-actions">
              <span>
                <img src="assets/images/operations/play.png" (click)="launch(game)" placement="top"
                  [ngbTooltip]="'home.launchonopenmsx' | translate" draggable="false">
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="area-on-the-right">
    <div *ngIf="!showFilters">
      <div class="screenshot">
        <img id="screenshotA1" src="{{ screenshotA1.screenshot1 }}" class="{{ transparent1 }}">
        <img id="screenshotA2" src="{{ screenshotA2.screenshot1 }}" class="{{ transparent2 }}">
      </div>
      <div class="screenshot" id="second-screenshot">
        <img id="screenshotB1" src="{{ screenshotB1.screenshot2 }}" class="{{ transparent1 }}">
        <img id="screenshotB2" src="{{ screenshotB2.screenshot2 }}" class="{{ transparent2 }}">
      </div>
      <div class="additional-info" *ngIf="selectedGame">
        <div ngbDropdown class="d-inline-block" (openChange)="handleOpenMenuEvents($event)">
          <button class="btn btn-secondary btn-sm me-1" ngbDropdownToggle type="button">
            {{ 'home.launch' | translate }}
          </button>
          <div ngbDropdownMenu>
            <button [disabled]="otherSelectedGames.size > 0" ngbDropdownItem type="button"
              (click)="launch(selectedGame)" [disabled]="!isOpenMSXPathDefined">
              <div class="d-flex">
                <div class="me-4">{{ 'home.onopenmsx' | translate }}</div>
                <div class="text-white-50 ms-auto d-flex align-items-center shortcut">Enter</div>
              </div>
            </button>
            <button [disabled]="otherSelectedGames.size > 0" ngbDropdownItem type="button"
              (click)="launchWebmsx(selectedGame)" [disabled]="!isWebMSXPathDefined">
              <div class="d-flex">
                <div class="me-4">{{ 'home.onwebmsx' | translate }}</div>
                <div class="text-white-50 ms-auto d-flex align-items-center shortcut">{{ ctrlCmdKey }}Shift+W</div>
              </div>
            </button>
            <button *ngIf="isWindows" [disabled]="otherSelectedGames.size > 0" ngbDropdownItem type="button"
              (click)="launchBlueMSX(selectedGame)" [disabled]="!isBlueMSXPathDefined">
              <div class="d-flex">
                <div class="me-4">{{ 'home.onbluemsx' | translate }}</div>
                <div class="text-white-50 ms-auto d-flex align-items-center shortcut">{{ ctrlCmdKey }}Shift+B</div>
              </div>
          </button>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block" (openChange)="handleOpenMenuEvents($event)">
        <button class="btn btn-secondary btn-sm me-1" ngbDropdownToggle type="button">
          {{ 'home.actions' | translate }}
        </button>
        <div ngbDropdownMenu>
          <button class="actions-menu-button" [disabled]="otherSelectedGames.size > 0" ngbDropdownItem type="button"
            (click)="edit(selectedGame)">
            <div class="d-flex">
              <div class="actions-menu-icon"></div>
              {{ 'common.rename' | translate }}
              <div class="text-white-50 ms-auto d-flex align-items-center shortcut">{{ ctrlCmdKey }}E</div>
              </div>
          </button>
          <button class="actions-menu-button" [disabled]="otherSelectedGames.size > 0" ngbDropdownItem type="button"
            (click)="mediaEdit.open()">
            <div class="actions-menu-icon"></div>
            {{ 'home.editmedia' | translate }}
          </button>
          <button class="actions-menu-button" ngbDropdownItem type="button" (click)="hardwareEdit.open()">
            <div class="actions-menu-icon"></div>
            {{ 'home.edithardware' | translate }}
          </button>
          <button class="actions-menu-button" [disabled]="otherSelectedGames.size > 0" ngbDropdownItem type="button"
            (click)="infoFileFieldEdit.open()">
            <div class="actions-menu-icon"></div>
            {{ 'home.setInfoFile' | translate }}
          </button>
          <div class="dropdown-divider"></div>
          <button class="actions-menu-button" *ngIf="isWindows" ngbDropdownItem type="button"
            (click)="bluemsxArgumentsEdit.open()">
            <div class="actions-menu-icon"></div>
            {{ 'home.editbluemsxarguments' | translate }}
          </button>
          <button class="actions-menu-button" *ngIf="isWebMSXPathDefined" ngbDropdownItem type="button"
            (click)="webmsxMachineSet.open()">
            <div class="actions-menu-icon"></div>
            {{ 'webmsx.setwebmsxmachine' | translate }}
          </button>
          <div class="dropdown-divider" *ngIf="isWindows || isWebMSXPathDefined"></div>
          <button class="actions-menu-button" [disabled]="otherSelectedGames.size > 0" ngbDropdownItem type="button"
            (click)="relatedGames.open()">
            <div class="d-flex">
              <div class="actions-menu-icon"></div>
              <div class="me-4">{{ 'home.findrelatedgames' | translate }}</div>
              <div class="text-white-50 ms-auto d-flex align-items-center shortcut">{{ ctrlCmdKey }}Shift+T</div>
            </div>
          </button>
          <button class="actions-menu-button" [disabled]="otherSelectedGames.size > 0 || !isGiantbombApikeyDefined"
            ngbDropdownItem type="button" (click)="additionalExternalInfo.open()">
            <div class="d-flex">
              <div class="actions-menu-icon"></div>
              <div class="me-4">{{ 'home.getinfofromgiantbomb' | translate }}</div>
              <div class="text-white-50 ms-auto d-flex align-items-center shortcut">{{ ctrlCmdKey }}Shift+G</div>
            </div>
          </button>
          <button class="actions-menu-button" [disabled]="otherSelectedGames.size > 0" *ngIf="!selectedGame.favorite"
            ngbDropdownItem type="button" (click)="setFavoritesFlag(true)">
            <div class="actions-menu-icon">&starf;</div>
            {{ 'home.addtofavorites' | translate }}
          </button>
          <button class="actions-menu-button" [disabled]="otherSelectedGames.size > 0" *ngIf="selectedGame.favorite"
            ngbDropdownItem type="button" (click)="setFavoritesFlag(false)">
            <div class="actions-menu-icon">&starf;</div>
            {{ 'home.removefromfavorites' | translate }}
          </button>
          <button class="actions-menu-button" ngbDropdownItem type="button" (click)="remove(null, selectedGame, true)">
            <div class="d-flex">
              <div class="actions-menu-icon text-warning bi-x"></div>
              <div class="me-4">{{ 'home.removefromlisting' | translate }}</div>
              <div class="text-white-50 ms-auto d-flex align-items-center shortcut">Del</div>
            </div>
          </button>
          <button class="actions-menu-button" ngbDropdownItem type="button" (click)="changeListing.open()">
            <div class="actions-menu-icon"></div>
            {{ 'home.movetoanotherlisting' | translate }}
          </button>
        </div>
      </div>
      <div *ngIf="moreScreenshotFiles.length && !otherSelectedGames.size" class="d-inline-block">
        <button class="btn btn-secondary btn-sm me-1" (click)="moreScreenshots.open()"
          [title]="'home.morescreenshots' | translate">
          <span class="bi-image"></span>
        </button>
      </div>
      <div *ngIf="musicFiles.length && !otherSelectedGames.size" class="d-inline-block">
        <div class="d-inline-block" ngbDropdown (openChange)="handleOpenMenuEvents($event); musicMenuOpen = $event;">
          <button class="btn btn-secondary btn-sm" ngbDropdownToggle type="button">
            &#9836;
          </button>
          <div ngbDropdownMenu class="dropdown-scroll">
            <button *ngFor="let musicFile of musicFiles" ngbDropdownItem type="button"
              (click)="setSelectedMusicFile(musicFile)">
              {{ getMusicName(musicFile) }}
            </button>
          </div>
        </div>
        <div class="d-inline-block">
          <app-home-game-music [musicUrl]="selectedMusicFile" [title]="getMusicName(selectedMusicFile)">
          </app-home-game-music>
        </div>
      </div>
      <div id="game-details">
        <app-home-game-details [selectedGame]="selectedGame"></app-home-game-details>
      </div>
    </div>
  </div>
  <div *ngIf="showFilters" class="scrollable-filters">
    <app-home-filters [filters]="filters" [machines]="machines" (appliedFilters)="applyFilters($event)"
      (closeAction)="toggleFiltersForm()" (resetAction)="resetFilters()" (openedMenu)="handleOpenMenuEvents($event)">
    </app-home-filters>
  </div>
</div>
</div>

<div id="drag-area" #dragArea>
  <img src="assets/images/general/download-2-64.png">
  <div>{{ 'home.dropfilesandfolders' | translate }}</div>
</div>

<app-popup popupId="scan-parameters-id" [titleHeader]="'home.addgames' | translate" (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-scan-parameters [popupId]="popupId" (openStatus)="popupOpen = $event" [listings]="listings"
      [filesAndFolders]="draggedFilesAndFolders" [currentListing]="selectedListing" [machines]="machines"
      (parameters)="startScan($event)" #scanParameters></app-scan-parameters>
  </ng-template>
</app-popup>

<app-popup popupId="media-edit-id" [titleHeader]="'home.editmedia' | translate" (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-media-edit [popupId]="popupId" (openStatus)="popupOpen = $event" [game]="selectedGame"
      (updatedGame)="update(selectedGame, $event)" #mediaEdit>
    </app-media-edit>
  </ng-template>
</app-popup>

<app-popup popupId="hardware-edit-id" [titleHeader]="'home.edithardware' | translate" (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-hardware-edit [popupId]="popupId" (openStatus)="popupOpen = $event" [game]="selectedGame"
      (hardwareData)="updateHardware($event)" [machines]="machines" #hardwareEdit>
    </app-hardware-edit>
  </ng-template>
</app-popup>

<app-popup popupId="info-file-field-edit-id" [titleHeader]="'home.setInfoFile' | translate"
  (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-info-file-field-edit [popupId]="popupId" (openStatus)="popupOpen = $event" [game]="selectedGame"
      (updatedGame)="update(selectedGame, $event)" #infoFileFieldEdit>
    </app-info-file-field-edit>
  </ng-template>
</app-popup>

<app-popup popupId="change-listing-id" [titleHeader]="'home.movetoanotherlisting' | translate"
  (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-change-listing [popupId]="popupId" (openStatus)="popupOpen = $event" [game]="selectedGame"
      [listings]="listings" (newListing)="move(selectedGame, $event)" #changeListing>
    </app-change-listing>
  </ng-template>
</app-popup>

<app-popup popupId="manage-listings-id" [titleHeader]="'home.managelistings' | translate"
  (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-manage-listings [popupId]="popupId" (openStatus)="popupOpen = $event" [listings]="listings"
      (updatedListing)="updateListings($event)" #manageListings></app-manage-listings>
  </ng-template>
</app-popup>

<app-popup popupId="bluemsx-arguments-edit-id" [titleHeader]="'home.editbluemsxarguments' | translate"
  (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-bluemsx-arguments-edit [popupId]="popupId" (openStatus)="popupOpen = $event" [game]="selectedGame"
      (bluemsxData)="setBluemsxArguments($event)" #bluemsxArgumentsEdit>
    </app-bluemsx-arguments-edit>
  </ng-template>
</app-popup>

<app-popup popupId="webmsx-machine-set-id" [titleHeader]="'webmsx.setwebmsxmachine' | translate"
  (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-webmsx-machine-set [popupId]="popupId" (openStatus)="popupOpen = $event" [game]="selectedGame"
      (webmsxMachine)="setWebmsxMachine($event)" #webmsxMachineSet>
    </app-webmsx-machine-set>
  </ng-template>
</app-popup>

<app-popup popupId="related-games-id" [titleHeader]="('home.relatedgames' | translate) + ' - ' + selectedGame?.name"
  (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-related-games [popupId]="popupId" (openStatus)="popupOpen = $event" [game]="selectedGame"
      (foundGame)="showFoundGame($event)" #relatedGames>
    </app-related-games>
  </ng-template>
</app-popup>

<app-popup popupId="more-screenshots-id"
  [titleHeader]="('home.morescreenshots' | translate) + ' - ' + selectedGame?.name" (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-more-screenshots [popupId]="popupId" (openStatus)="popupOpen = $event" [game]="selectedGame"
      [imageFiles]="moreScreenshotFiles" #moreScreenshots>
    </app-more-screenshots>
  </ng-template>
</app-popup>

<app-popup popupId="additional-external-info-id"
  [titleHeader]="('home.infofromgiantbomb' | translate) + ' - ' + selectedGame?.name" (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-additional-external-info [popupId]="popupId" (openStatus)="popupOpen = $event" [game]="selectedGame"
      #additionalExternalInfo>
    </app-additional-external-info>
  </ng-template>
</app-popup>

<app-popup popupId="saved-states-id" [titleHeader]="('home.launch' | translate) + ': ' + selectedGame?.name"
  (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-saved-states [popupId]="popupId" (openStatus)="popupOpen = $event" [savedStates]="savedStates"
      [game]="selectedGame" (startNormallyChoice)="launchOpenmsx($event)" (stateChoice)="launchOpenmsxWithState($event)"
      #savedStatesSelector>
    </app-saved-states>
  </ng-template>
</app-popup>

<app-popup popupId="quick-launch-id" [titleHeader]="'home.quicklaunch' | translate" (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-quick-launch [popupId]="popupId" (openStatus)="popupOpen = $event" [machines]="machines"
      (gameToLaunch)="quickLaunchOpenmsx($event)" #quickLaunch>
    </app-quick-launch>
  </ng-template>
</app-popup>

<app-popup popupId="manage-backups-id" [titleHeader]="'home.managebackups' | translate"
  (openStatus)="popupOpen = $event">
  <ng-template let-popupId="popupId">
    <app-manage-backups [popupId]="popupId" (openStatus)="popupOpen = $event" (dataRestored)="reloadAfterRestore()"
      #manageBackups></app-manage-backups>
  </ng-template>
</app-popup>

<context-menu (close)="contextMenuOpened = false" [menuClass]="'context-menu'">
  <ng-template contextMenuItem [visible]="isMenuItemVisible" [subMenu]="launchSubMenu">
    <div class="context-menu-icon"></div>
    {{ 'home.launch' | translate }}
  </ng-template>
  <context-menu [menuClass]="'context-menu'" #launchSubMenu>
    <ng-template contextMenuItem [visible]="isOpenMSXPathDefined" (execute)="launch($event.item)">
      <div class="context-menu-icon"></div>
      {{ 'home.onopenmsx' | translate }}
      <div class="text-white-50 ms-5 me-3 d-inline-block float-end shortcut">Enter</div>
    </ng-template>
    <ng-template contextMenuItem [visible]="isWebMSXPathDefined" (execute)="launchWebmsx($event.item)">
      <div class="context-menu-icon"></div>
      {{ 'home.onwebmsx' | translate }}
      <div class="text-white-50 ms-5 me-3 d-inline-block float-end shortcut">{{ ctrlCmdKey }}Shift+W</div>
    </ng-template>
    <ng-template contextMenuItem [visible]="isWindows && isBlueMSXPathDefined" (execute)="launchBlueMSX($event.item)">
      <div class="context-menu-icon"></div>
      {{ 'home.onbluemsx' | translate }}
      <div class="text-white-50 ms-5 me-3 d-inline-block float-end shortcut">{{ ctrlCmdKey }}Shift+B</div>
    </ng-template>
  </context-menu>
  <ng-template contextMenuItem [visible]="isMenuItemVisible" [divider]="true"></ng-template>
  <ng-template contextMenuItem [visible]="isMenuItemVisible" (execute)="edit($event.item)">
    <div class="context-menu-icon"></div>
    {{ 'common.rename' | translate }}
    <div class="text-white-50 ms-5 me-3 d-inline-block float-end shortcut">{{ ctrlCmdKey }}E</div>
  </ng-template>
  <ng-template contextMenuItem [visible]="isMenuItemVisible" (execute)="mediaEdit.open()">
    <div class="context-menu-icon"></div>
    {{ 'home.editmedia' | translate }}
  </ng-template>
  <ng-template contextMenuItem (execute)="hardwareEdit.open()">
    <div class="context-menu-icon"></div>
    {{ 'home.edithardware' | translate }}
  </ng-template>
  <ng-template contextMenuItem [visible]="isMenuItemVisible" (execute)="infoFileFieldEdit.open()">
    <div class="context-menu-icon"></div>
    {{ 'home.setInfoFile' | translate }}
  </ng-template>
  <ng-template contextMenuItem [divider]="true"></ng-template>
  <ng-template contextMenuItem [visible]="isWindows" (execute)="bluemsxArgumentsEdit.open()">
    <span class="context-menu-icon"></span>
    {{ 'home.editbluemsxarguments' | translate }}
  </ng-template>
  <ng-template contextMenuItem [visible]="isWebMSXPathDefined" [subMenu]="webmsxMachinesSubMenu">
    <div class="context-menu-icon"></div>
    {{ 'webmsx.setwebmsxmachine' | translate }}
  </ng-template>
  <context-menu [menuClass]="'context-menu'" #webmsxMachinesSubMenu>
    <ng-template *ngFor="let machine of webmsxMachines" contextMenuItem (execute)="setWebmsxMachine(machine.value)">
      <div class="context-menu-icon"></div>
      {{ machine.label }}
    </ng-template>
    <ng-template contextMenuItem [divider]="true"></ng-template>
    <ng-template contextMenuItem (execute)="setWebmsxMachine(0)">
      <div class="context-menu-icon"></div>
      {{ 'webmsx.settodefault' | translate }}
    </ng-template>
  </context-menu>
  <ng-template contextMenuItem [visible]="isWindows || isWebMSXPathDefined" [divider]="true"></ng-template>
  <ng-template contextMenuItem [visible]="isMenuItemVisible" (execute)="relatedGames.open()">
    <div class="context-menu-icon"></div>
    {{ 'home.findrelatedgames' | translate }}
    <div class="text-white-50 ms-5 me-3 d-inline-block float-end shortcut">{{ ctrlCmdKey }}Shift+T</div>
  </ng-template>
  <ng-template contextMenuItem [visible]="isGiantbombApikeyDefined && isMenuItemVisible"
    (execute)="additionalExternalInfo.open()">
    <div class="context-menu-icon"></div>
    {{ 'home.getinfofromgiantbomb' | translate }}
    <div class="text-white-50 ms-5 me-3 d-inline-block float-end shortcut">{{ ctrlCmdKey }}Shift+G</div>
  </ng-template>
  <ng-template contextMenuItem [visible]="isMenuItemAddFavorite" (execute)="setFavoritesFlag(true)">
    <div class="context-menu-icon">&starf;</div>
    {{ 'home.addtofavorites' | translate }}
  </ng-template>
  <ng-template contextMenuItem [visible]="isMenuItemRemoveFavorite" (execute)="setFavoritesFlag(false)">
    <div class="context-menu-icon">&starf;</div>
    {{ 'home.removefromfavorites' | translate }}
  </ng-template>
  <ng-template contextMenuItem (execute)="remove(null, $event.item)">
    <div class="bi-x text-warning context-menu-icon"></div>
    {{ 'home.removefromlisting' | translate }}
    <div class="text-white-50 ms-5 me-3 d-inline-block float-end shortcut">Del</div>
  </ng-template>
  <ng-template contextMenuItem (execute)="changeListing.open()">
    <div class="context-menu-icon"></div>
    {{ 'home.movetoanotherlisting' | translate }}
  </ng-template>
</context-menu>