<div *ngIf="list && list.length > 0" ngbDropdown class="d-inline-block" (keyup)="processKeyup($event)"
    (openChange)="emitOpenStatus($event)">
    <button class="btn btn-secondary btn-sm" ngbDropdownToggle type="button">
        <div class="button-label">
            <div *ngIf="!selectedItem">{{ defaultLabel }}</div>
            <img [src]="listIcons[list.indexOf(selectedItem)]" class="icon" *ngIf="listIcons && selectedItem">
            <div *ngIf="selectedItem">{{ selectedItem }}</div>
        </div>
    </button>
    <div ngbDropdownMenu class="dropdown-scroll pt-0 pb-0">
        <button *ngFor="let item of list; let i = index" ngbDropdownItem type="button" (click)="handleSelection(item)"
            #dropDownItem>
            <img [src]="listIcons[i]" class="icon" *ngIf="listIcons">
            {{ item }}
        </button>
    </div>
    <div *ngIf="resetButton && selectedItem" class="d-inline ms-2">
        <button class="btn btn-secondary btn-sm" type="button" (click)="resetSelection()">
            {{ 'common.reset' | translate }}
        </button>
    </div>
</div>