<div class="p-1 text-center management-card">
    <div class="small">{{ 'popups.openmsxmanagement.state' | translate }}</div>
    <div>
        <div ngbDropdown class="d-inline-block ps-2 pt-2">
            <button class="btn btn-secondary btn-sm" type="button" (click)="saveState()" [title]="'common.save' | translate">
                <span class="bi-floppy2-fill"></span>
            </button>
        </div>
        <div ngbDropdown class="d-inline-block ps-1 pt-2 pe-2">
            <button class="btn btn-secondary btn-sm action-button" type="button" ngbDropdownToggle
                [disabled]="savedStates.length === 0">
                {{ 'common.load' | translate }}
            </button>
            <div ngbDropdownMenu class="dropdown-scroll">
                <button *ngFor="let savedState of savedStates" ngbDropdownItem type="button" (click)="loadState(savedState)">
                    <img [src]="savedState.screenshot" class="screenshot">
                    <div class="ms-2 d-inline-block">{{ getSavedStateTimeAndDate(savedState) }}</div>
                </button>
            </div>
        </div>
    </div>
</div>