<div id="{{ popupId }}" class="popup">
    <div class="popup-content">
        <div class="popup-title-bar">
            <div class="popup-title me-3">{{ titleHeader }}</div>
            <div id="{{ popupId + '-close' }}" class="popup-close">&times;</div>
        </div>
        <div id="popup-alert-area"></div>
        <div class="p-2">
            <ng-template [ngTemplateOutletContext]='{ popupId: popupId }' [ngTemplateOutlet]="templateVariable">
            </ng-template>
        </div>
    </div>
</div>