<div id="{{ popupId }}" class="popup">
    <div class="popup-content">
        <div class="popup-title-bar">
            <div class="popup-title me-3">{{ titleHeader }}</div>
            <div id="{{ popupId + '-close' }}" class="popup-close">&times;</div>
        </div>
        <div id="{{ popupId + '-popup-alert-area' }}" class="popup-alert"></div>
        <div class="pt-2 pe-3 pb-2 ps-3">
            <ng-template [ngTemplateOutletContext]='{ popupId: popupId }' [ngTemplateOutlet]="templateVariable">
            </ng-template>
        </div>
    </div>
</div>