.popup-alert
  height: 22px
  line-height: 22px
  text-align: center
  transition: 1s
  font-weight: bold
  width: 0
  min-width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.success-alert
  background-color: green

.popup
  visibility: hidden
  opacity: 0
  transition: all .35s linear
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.6)
  display: flex
  justify-content: center
  align-items: baseline

.popup-fade
  visibility: visible
  opacity: 1

.popup-content
  background-color: #232323
  margin-top: 3.75rem
  padding: 0
  border: 1px solid #888

.popup-title-bar
  background-color: #333
  height: 1.4rem

.popup-title
  font-size: .75rem
  display: inline
  padding-left: .375rem
  vertical-align: middle

.popup-close
  color: #aaaaaa
  float: right
  font-size: .75rem
  text-align: center
  width: 1.4rem
  height: 1.4rem
  transition: 0.1s

.popup-close:hover, .popup-close:focus
  color: #ffffff
  text-decoration: none
  background-color: red
  cursor: pointer