<form spellcheck="false">
    <div class="d-inline-block me-3">{{ 'popups.editBluemsxArguments.bluemsxArguments' | translate }}</div>
    <div class="d-inline-block mb-3">
        <div class="bluemsx-arguments">
            <app-field-with-suggestions [value]="bluemsxArguments" [suggestionsMap]="getBlueMSXArgumentsMap()"
                trigger="/" (userInputOutput)="bluemsxArguments = $event"></app-field-with-suggestions>
        </div>
    </div>
    <div class="form-check ms-3">
        <input class="form-check-input" type="checkbox" [(ngModel)]="bluemsxOverrideSettings"
            id="bluemsxOverrideSettings">
        <label class="form-check-label">
            {{ 'popups.editBluemsxArguments.overrideargumentsinsettings' | translate }}
        </label>
    </div>
    <div>
        <button class="btn btn-primary btn-sm mt-2" (click)="save()" (keyup.enter)="save()">
            {{ 'common.save' | translate }}
        </button>
    </div>
</form>