<form id="scanParametersForm" spellcheck="false" #scanParametersForm="ngForm">
  <div class="add-buttons">
    <app-file-system-chooser [directoryMode]="true" [multiSelections]="true"
      [label]="'popups.addgames.addfolder' | translate" (chosen)="filesAndFolders = filesAndFolders.concat($event)">
    </app-file-system-chooser>
  </div>
  <div class="add-buttons">
    <app-file-system-chooser [multiSelections]="true" [label]="'popups.addgames.addfile' | translate"
      (chosen)="filesAndFolders = filesAndFolders.concat($event)">
    </app-file-system-chooser>
  </div>
  <div class="files-and-directories-table">
    <ng-container *ngFor="let item of filesAndFolders; let i = index">
      <div class="table-row">
        <div class="table-item">{{ item }}</div>
        <div class="table-item-delete" (click)="removeItem(i)">&times;</div>
      </div>
    </ng-container>
  </div>
  <div class="table-view mt-3">
    <div class="table-row">
      <div class="table-cell pe-2">{{ 'popups.addgames.listing' | translate }}</div>
      <div class="table-cell">
        <app-drop-down-with-input [defaultLabel]="'popups.specifyalisting' | translate"
          [defaultNewLabel]="'popups.newlisting' | translate" [list]="listings" [defaultSelection]="currentListing"
          (selection)="selectedListing = $event">
        </app-drop-down-with-input>
      </div>
    </div>
    <div class="table-row">
      <div class="table-cell pe-2">{{ 'common.machine' | translate }}</div>
      <div class="table-cell">
        <app-drop-down [list]="machines" [selectedItem]="selectedMachine" (selection)="selectedMachine = $event">
        </app-drop-down>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-sm mt-3" [disabled]="filesAndFolders.length === 0 || !selectedListing"
    (click)="submitParameters()" (keydown.enter)="submitParameters()">{{ 'common.add' | translate }}</button>
</form>