<div class="external-info">
    <table>
        <tr>
            <td class="field">{{ 'giantbomb.matchedname' | translate }}</td>
            <td class="value">{{ matchedName }}</td>
        </tr>
        <tr *ngIf="allPlatforms.length > 0">
            <td class="field">{{ 'giantbomb.platforms' | translate }}</td>
            <td>
                <span *ngFor="let platform of allPlatforms" class="badge bg-secondary ms-1">{{ platform }}</span>
            </td>
        </tr>
    </table>
    <div class="mt-3">
        <div class="d-inline-block image-box" *ngFor="let image of boxArtImages">
            <img src="{{ image }}">
        </div>
    </div>
    <div class="mt-3">
        <app-web-link *ngIf="allPlatforms.length > 0" [address]="giantbombGamePage"
        label="{{ 'giantbomb.viewongiantbomb' | translate }}"></app-web-link>
    </div>
</div>