<div class="external-info" tabindex="0" #externalInfoDiv>
    <div *ngIf="!showData" class="text-center">
        <img src="assets/images/general/loading.gif">
    </div>
    <div *ngIf="showData">
        <div *ngIf="!error">
            <table>
                <tr>
                    <td class="field">{{ 'giantbomb.matchedname' | translate }}</td>
                    <td class="value">{{ matchedName }}</td>
                </tr>
                <tr *ngIf="allPlatforms.length > 0">
                    <td class="field">{{ 'giantbomb.platforms' | translate }}</td>
                    <td>
                        <span *ngFor="let platform of allPlatforms" class="badge bg-secondary ms-1">{{ platform
                            }}</span>
                    </td>
                </tr>
            </table>
            <div class="mt-3">
                <div class="d-inline-block image-box" *ngFor="let image of images">
                    <img src="{{ image }}" class="boxart">
                </div>
            </div>
            <div class="mt-3">
                <app-web-link *ngIf="allPlatforms.length > 0" [address]="giantbombGamePage"
                    label="{{ 'giantbomb.viewongiantbomb' | translate }}"></app-web-link>
            </div>
        </div>
        <div *ngIf="error" class="text-danger text-center">
            {{ errorMessage }}
        </div>
    </div>
</div>