<form spellcheck="false">
    <div class="table-view">
        <div class="table-row">
            <div class="table-cell pe-2">{{ 'popups.quicklaunch.file' | translate }}</div>
            <div class="table-cell medium-input">
                <div class="d-flex justify-content-start">
                    <input type="text" class="form-control form-control-sm" id="file" [(ngModel)]="file"
                        [ngModelOptions]="{standalone: true}" dropfile (droppedFile)="file = $event" placement="bottom"
                        [ngbTooltip]="'popups.quicklaunch.filetooltip' | translate" (click)="highlightFileInput()" #fileInput>
                    <app-file-system-chooser [label]="'common.browse' | translate" (chosen)="file = $event"
                        [useIcon]="true">
                    </app-file-system-chooser>
                    <app-file-hunter *ngIf="showFileHunterGames" (gameLink)="file = $event"></app-file-hunter>
                </div>
            </div>
        </div>
        <div class="mb-2"></div>
        <div class="table-row">
            <div class="table-cell pe-2">{{ 'common.machine' | translate }}</div>
            <app-drop-down [list]="machines" [selectedItem]="selectedMachine" (selection)="selectedMachine = $event">
            </app-drop-down>
        </div>
        <div class="mb-2"></div>
        <div class="table-row">
            <div class="table-cell pe-2">{{ 'popups.quicklaunch.arguments' | translate }}</div>
            <div class="table-cell medium-input">
                <app-field-with-suggestions [suggestionsMap]="getOpenMSXArgumentsMap()" trigger="-"
                    (userInputOutput)="setOpenmsxParams($event)" placement="bottom" [value]="parameters"
                    [ngbTooltip]="'popups.quicklaunch.openmsxparamstooltip' | translate"></app-field-with-suggestions>
            </div>
        </div>
        <div class="mb-2"></div>
        <div class="table-row">
            <div class="table-cell pe-2">GFX9000</div>
            <ng-toggle [onText]="'popups.on' | translate" [offText]="'popups.off' | translate" size="sm"
                [(ngModel)]="connectGFX9000" [ngModelOptions]="{standalone: true}">
                <input type="checkbox" [(ngModel)]="connectGFX9000" [ngModelOptions]="{standalone: true}" />
            </ng-toggle>
        </div>
    </div>
    <div>
        <button class="btn btn-primary btn-sm mt-3" (click)="launch()" (keyup.enter)="launch()">{{ 'home.launch' |
            translate
            }}</button>
        <app-quick-launch-setup-save-load class="float-end" [selectedMachine]="selectedMachine"
            [parameters]="parameters" [connectGFX9000]="connectGFX9000"
            (loadedSetup)="loadSetup($event)"></app-quick-launch-setup-save-load>
    </div>
</form>