<div>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-secondary btn-sm" type="button" ngbDropdownToggle>
            {{ start }}
        </button>
        <div class="dropdown-scroll" ngbDropdownMenu>
            <button *ngFor="let item of range" ngbDropdownItem type="button" (click)="selectStart(item)">
                {{ item.label }}
            </button>
        </div>
    </div>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-secondary btn-sm" type="button" ngbDropdownToggle [disabled]="!enableComparison">
            {{ comparisonOperator }}
        </button>
        <div class="dropdown-scroll" ngbDropdownMenu>
            <button *ngFor="let operator of comparisonOpearators" ngbDropdownItem type="button"
                (click)="selectComparisonOperator(operator)">
                {{ operator }}
            </button>
        </div>
    </div>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-secondary btn-sm" type="button" ngbDropdownToggle [disabled]="!enableEnd">
            {{ end }}
        </button>
        <div class="dropdown-scroll" ngbDropdownMenu>
            <button *ngFor="let item of range" ngbDropdownItem type="button" (click)="selectEnd(item)">
                {{ item.label }}
            </button>
        </div>
    </div>
</div>